<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="{{ url_for('static',filename='images/nwn.ico') }}" type="image/x-icon" rel="icon" />
    <link href="{{ url_for('static',filename='images/nwn.ico') }}" type="image/x-icon" rel="NWN 3T">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" type="text/css">

    <script src="{{ url_for('static',filename='javascript.js') }}"></script>

    <title>The Three Towns items exporting tool</title>
    <style>
        h1 {
            font: italic bold 40px "Comic Sans MS", cursive, sans-serif;
            font-family: 'Neverwinter', sans-serif;
        }

        .strong {
            font-weight: 600;
        }
    </style>
</head>

<body class="full-screen flex-center">

    <div class="container d-flex h-100">
        <div class="row align-self-center">
            <h1>The Three Towns items exporting tool</h1>
        </div>
    </div>    

    <div class="container-fluid">

        <div class="">        

            <h2>CSV export</h2>
            <p>
                This will export all the items of your characters to a csv file. <span class="strong">The csv delimitor
                    is
                    ";"</span>.
            </p>
            <br />
            <form action="/exportToCSV" id="exportToCsv" method="post" enctype="multipart/form-data" class="">
                <label for="pcfiles">Select one or several character files (.bic)</label>
                <input type="file" id="pcfiles" name="pcfile" accept=".bic,.gff" multiple />
                <br />
                <br />
                Expand property : render subtypes on several columns (example for 'Skill bonus' : Craft weapon,
                Discipline,
                Concentration,.. will be on separated columns)
                <br />
                <div class="col-12">
                    <div class="form-check">                        
                        <input class="form-check-input" type="checkbox" id="expand_skills" value="Y" name="expand_skills">
                        <label class="form-check-label" for="expand_skills">Expand skills</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check">                        
                        <input class="form-check-input" type="checkbox" id="expand_abilities" value="Y" name="expand_abilities">
                        <label class="form-check-label" for="expand_abilities">Expand abilities</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check">                        
                        <input class="form-check-input" type="checkbox" id="expand_dr" value="Y" name="expand_dr">
                        <label class="form-check-label" for="expand_dr">Expand Damage Resistance</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check">                        
                        <input class="form-check-input" type="checkbox" id="expand_saves" value="Y" name="expand_saves">
                        <label class="form-check-label" for="expand_saves">Expand Saving throws</label>
                    </div>
                </div>
                <hr/>
                <div class="col-12">
                    <div class="form-check">                        
                        <input class="form-check-input" type="checkbox" id="filter_owner" value="Y" name="filter_owner">
                        <label class="form-check-label" for="filter_owner">Hide owner</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check">                        
                        <input class="form-check-input" type="checkbox" id="exclude_equips" value="Y" name="exclude_equips">
                        <label class="form-check-label" for="exclude_equips">Hide equiped items</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check">                        
                        <input class="form-check-input" type="checkbox" id="group_duplicates" value="Y" name="group_duplicates">
                        <label class="form-check-label" for="group_duplicates">Group duplicates</label>
                    </div>
                </div>
                <br/>
                Show/hide items by type <button class="btn btn-sm" id="toggleFilterItemsByType" type="button">OPEN</button>

                <div id="filterItemsByType">
                    {%for x in range(0, context.lenBaseItems) %}
                    <br />
                    <label for="filter_{{context.baseItems[x].code}}">Show {{context.baseItems[x].name}}</label>
                    <input type="checkbox" checked id="filter_{{context.baseItems[x].code}}" value="Y" name="filter_{{context.baseItems[x].code}}" />
                    {%endfor%}
                </div>
                <br />
                <br />
                <br />
                <input class="btn btn-primary" type="submit" value="Export to CSV" />
            </form>

            <br />
            <!-- <h2>Raw export</h2>
            <form action="/test" method="post" enctype="multipart/form-data">
                <label for="pcfile">Select a character file (.bic)</label>
                <input type="file" id="pcfile" name="pcfile" accept=".bic,.gff" />
                <input type="submit" value="Submit" />
            </form> -->
        </div>
    </div>
</body>

</html>